*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
body{
    background: url(./images/bg-desktop.svg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
}

.logo img{
    margin-left: 225px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 264px;
    
}

.mid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 209px;
}
.mid img
{
    max-width: 709px;
    
}
.mid img:hover{
    
}

.text{
    
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    max-width: 406px;
}
.text-content{
    color: white;
    font-family: 'Open Sans', sans-serif;
    max-width: 536px;
    font-size: 400;
    font-size: 20px;
    margin-bottom:20px ;

}
.button{
   color: hsl(257, 40%, 49%);
    border-radius: 25px;
    height: 45px;
    max-width: 227px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.26); 
    box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.26);
}
.button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    transition: 0.6s all;
}
.redes{
    display: flex;
    justify-content: flex-end;
    margin-right: 235px;
    margin-bottom: 100px;
}
.face img{
    width: 50px;
}
.face img:hover{
    filter: brightness(0) saturate(100%) invert(31%) sepia(38%) saturate(6269%) hue-rotate(313deg) brightness(94%) contrast(92%);transition: 0.6s all;
}
.insta img{
    width: 50px;
}
.insta img:hover{
    filter: brightness(0) saturate(100%) invert(31%) sepia(38%) saturate(6269%) hue-rotate(313deg) brightness(94%) contrast(92%);transition: 0.6s all;
}
.twitter img{
    width: 50px;
}
.twitter img:hover{
    filter: brightness(0) saturate(100%) invert(31%) sepia(38%) saturate(6269%) hue-rotate(313deg) brightness(94%) contrast(92%);
    transition: 0.6s all;
}
.footer{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
@media screen and (max-width: 1177px){
    body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./images/bg-mobile.svg)no-repeat;
    background-color: hsl(257, 40%, 49%) ;
    }
    .mid{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }
    .logo{
        
    }
    .logo img{
        margin: 0;
        margin-top: 100px;
    }
    .redes{
        margin: 0;
        justify-content: center;
        margin: 50px;
    }
    
}
@media screen and (max-width: 749px){
    body{
        padding: 20px;
    }
.mid img{
    width: 400px;
}
}
@media screen and (max-width: 749px){
    .mid img{
        width: 300px;
    }
}
